  
  <footer class="footer pt-2 mt-2" style="position: fixed; bottom: 0; left: 0; width: 100%; display: flex; justify-content: center; align-items: center;">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <p class="text-dark my-4 text-sm font-weight-normal">
            &copy; <a href="#" class="font-weight-bold" target="_blank">Developed By</a>
            Roshita Setiorini.
          </p>
        </div>
      </div>
    </div>
  </footer>
