
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg  blur border-radius-xl mt-4 top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4 sticky-top navbar-light">
          <div class="container-fluid px-0">
            <a class="navbar-brand font-weight-bolder ms-sm-3" href="/" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom">
              <img src="/static/assets/img/logo.png" width="350" height="40" alt="">
            </a>
            <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
              <ul class="navbar-nav navbar-nav-hover ms-auto ">
                {% if current_user.is_authenticated %}
                <li class="nav-item mx-2">
                  <a href="/" class="nav-link ps-2 d-flex cursor-pointer align-items-center font-weight-bold" style="font-size: 18px;" id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="material-icons opacity-6 me-2" style="font-size: 25px;">home</i>HOME
                  </a>
                </li>
                <li class="nav-item mx-2">
                  <a href="/galery.html" class="nav-link ps-2 d-flex cursor-pointer align-items-center font-weight-bold" style="font-size: 18px;" >
                    <i class="material-icons opacity-6 me-2" style="font-size: 25px;">photo_library</i>GALLERY
                  </a>
                </li>
                <li class="nav-item mx-2">
                  <a href="/contact_us.html" class="nav-link ps-2 d-flex cursor-pointer align-items-center font-weight-bold" style="font-size: 18px;" >
                    <i class="material-icons opacity-6 me-2" style="font-size: 25px;">contacts</i>CONTACT US
                  </a>
                </li>
                <li class="nav-item dropdown mx-2">
                  <a class="nav-link  ps-2 d-flex cursor-pointer align-items-center font-weight-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 20px;">
                    <i class="material-icons opacity-6 me-2" style="font-size: 25px;">admin_panel_settings</i>Admin
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li>
                      <a class="dropdown-item d-flex align-items-center" href="{{ url_for('admin_blueprint.index') }}" style="font-size: 18px;">
                        <i class="material-icons opacity-6 me-2" style="font-size: 25px;">admin_panel_settings</i>Admin Page
                      </a>
                    </li>
                    <!-- Divider -->
                    <li><hr class="dropdown-divider"></li>
                    <!-- Logout -->
                    <li>
                      <a 
                        class="dropdown-item d-flex align-items-center" 
                        href="{{ url_for('authentication_blueprint.logout') }}" 
                        style="font-size: 16px;"
                      >
                        <i class="material-icons opacity-6 me-2" style="font-size: 25px;">logout</i>Logout
                      </a>
                    </li>
                  </ul>
                </li>
                {% else %}
                <li class="nav-item mx-2">
                  <a href="/" class="nav-link ps-2 d-flex cursor-pointer align-items-center font-weight-bold" style="font-size: 18px;" >
                    <i class="material-icons opacity-6 me-2" style="font-size: 25px;">home</i>HOME
                  </a>
                </li>
                <li class="nav-item mx-2">
                  <a href="/galery.html" class="nav-link ps-2 d-flex cursor-pointer align-items-center font-weight-bold" style="font-size: 18px;" >
                    <i class="material-icons opacity-6 me-2" style="font-size: 25px;">photo_library</i>GALLERY
                  </a>
                </li>
                <li class="nav-item mx-2">
                  <a href="/contact_us.html" class="nav-link ps-2 d-flex cursor-pointer align-items-center font-weight-bold" style="font-size: 18px;" >
                    <i class="material-icons opacity-6 me-2" style="font-size: 25px;">contacts</i>CONTACT US
                  </a>
                </li>
                <li class="nav-item mx-2">
                  <a href="{{ url_for('authentication_blueprint.login') }}" class="nav-link ps-2 d-flex cursor-pointer align-items-center font-weight-bold" style="font-size: 18px;" >
                    <i class="material-icons opacity-6 me-2" style="font-size: 25px;">login</i>LOGIN
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>