<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/static/assets/img/favicon.png">
  <title>
    HikeEase App
  </title>
  <link  href="static/assets/css/explore-style.css" rel="stylesheet" />
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/js/all.min.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <link id="pagestyle" href="/static/assets/css/material-kit.css?v=3.0.0" rel="stylesheet" />
  {% block stylesheets %}
  {% endblock stylesheets %}

</head>

<body class="{% block body_class %}{% endblock %} bg-gray-200">

  {% block content %}{% endblock content %} 
   
  {% include 'includes/scripts.html' %} 

   <!-- Specific Page JS goes HERE  -->
   {% block javascripts %}{% endblock javascripts %}
</body>
</html>
