{% extends "layouts/base-explorer.html" %}

{% block content %}

  <!-- carousel -->
  {% include 'includes/navigation.html' %}

  <div class="carousel">
      <!-- list item -->
      <div class="list">
          <div class="item">
              <img src="/static/assets/img/arjuno.jpg">
              <div class="content">
                  <div class="title">MT</div>
                  <div class="topic">ARJUNO</div>
                  <div class="des">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                  </div>
                  <div class="buttons">
                    <button onclick="window.location.href='arjuno.html';">BOOK NOW</button>
                    <button onclick="window.location.href='arjuno.html';">MORE DETAILS</button>
                  </div>
              </div>
          </div>
          <div class="item">
              <img src="/static/assets/img/ciremai.jpg">
              <div class="content">
                  <div class="title">MT</div>
                  <div class="topic">CIREMAI</div>
                  <div class="des">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                  </div>
                  <div class="buttons">
                    <button onclick="window.location.href='ciremai.html';">BOOK NOW</button>
                    <button onclick="window.location.href='ciremai.html';">MORE DETAILS</button>
                  </div>
              </div>
          </div>
          <div class="item">
              <img src="/static/assets/img/gede.jpg">
              <div class="content">
                  <div class="title">MT</div>
                  <div class="topic">GEDE</div>
                  <div class="des">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                  </div>
                  <div class="buttons">
                    <button onclick="window.location.href='gede.html';">BOOK NOW</button>
                    <button onclick="window.location.href='gede.html';">MORE DETAILS</button>
                  </div>
              </div>
          </div>
          <div class="item">
              <img src="/static/assets/img/kawah_ratu.jpg">
              <div class="content">
                  <div class="title">MT</div>
                  <div class="topic">KAWAH RATU</div>
                  <div class="des">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                  </div>
                  <div class="buttons">
                    <button onclick="window.location.href='kawah_ratu.html';">BOOK NOW</button>
                    <button onclick="window.location.href='kawah_ratu.html';">MORE DETAILS</button>
                  </div>
              </div>
          </div>
          <div class="item">
              <img src="/static/assets/img/merbabu.jpg">
              <div class="content">
                  <div class="title">MT</div>
                  <div class="topic">MERBABU</div>
                  <div class="des">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                  </div>
                  <div class="buttons">
                    <button onclick="window.location.href='merbabu.html';">BOOK NOW</button>
                    <button onclick="window.location.href='merbabu.html';">MORE DETAILS</button>
                  </div>
              </div>
          </div>
          <div class="item">
              <img src="/static/assets/img/rinjani.png">
              <div class="content">
                  <div class="title">MT</div>
                  <div class="topic">RINJANI</div>
                  <div class="des">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                  </div>
                  <div class="buttons">
                    <button onclick="window.location.href='rinjani.html';">BOOK NOW</button>
                    <button onclick="window.location.href='rinjani.html';">MORE DETAILS</button>
                  </div>
              </div>
          </div>
          <div class="item">
              <img src="/static/assets/img/salak.jpg">
              <div class="content">
                  <div class="title">MT</div>
                  <div class="topic">SALAK</div>
                  <div class="des">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                  </div>
                  <div class="buttons">
                    <button onclick="window.location.href='salak.html';">BOOK NOW</button>
                    <button onclick="window.location.href='salak.html';">MORE DETAILS</button>
                  </div>
              </div>
          </div>
          <div class="item">
              <img src="/static/assets/img/slamet.jpg">
              <div class="content">
                  <div class="title">MT</div>
                  <div class="topic">SLAMET</div>
                  <div class="des">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                  </div>
                  <div class="buttons">
                    <button onclick="window.location.href='slamet.html';">BOOK NOW</button>
                    <button onclick="window.location.href='slamet.html';">MORE DETAILS</button>
                  </div>
              </div>
          </div>
      </div>
      <!-- list thumnail -->
      <div class="thumbnail">
          <div class="item">
              <img src="/static/assets/img/arjuno.jpg">
              <div class="content">
                  <div class="title">
                      MT Arjuno
                  </div>
              </div>
          </div>
          <div class="item">
              <img src="/static/assets/img/ciremai.jpg">
              <div class="content">
                  <div class="title">
                      MT Ceremai
                  </div>
              </div>
          </div>
          <div class="item">
              <img src="/static/assets/img/gede.jpg">
              <div class="content">
                  <div class="title">
                      MT Gede
                  </div>
              </div>
          </div>
          <div class="item">
              <img src="/static/assets/img/kawah_ratu.jpg">
              <div class="content">
                  <div class="title">
                      Kawah Ratu
                  </div>
              </div>
          </div>
          <div class="item">
              <img src="/static/assets/img/merbabu.jpg">
              <div class="content">
                  <div class="title">
                      MT Merbabu
                  </div>
              </div>
          </div>
          <div class="item">
              <img src="/static/assets/img/rinjani.png">
              <div class="content">
                  <div class="title">
                      MT Rinjani
                  </div>
              </div>
          </div>
          <div class="item">
              <img src="/static/assets/img/salak.jpg">
              <div class="content">
                  <div class="title">
                      MT Salak
                  </div>
              </div>
          </div>
          <div class="item">
              <img src="/static/assets/img/slamet.jpg">
              <div class="content">
                  <div class="title">
                      MT SLamet
                  </div>
              </div>
          </div>
      </div>
      <!-- next prev -->

      <div class="arrows">
          <button id="prev"><</button>
          <p></p>
          <p></p>
          <p></p>
          <button id="next">></button>
      </div>
      <!-- time running -->
      <div class="time"></div>
  </div>
  <script src="/static/assets/js/explorer.js"></script>
{% endblock content %}