{% extends "layouts/base.html" %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  {% include 'includes/navigation.html' %}
  <style>
      .sidebar {
        width: 15%;
        height: 750px;
        padding-top: 1%;
      }
      .content {
        width: 83%;
        background-color: #ffffff;
        color: white;
        height: 750px;
        padding-top: 5%;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      .table thead th {
        text-align: center;
      }
      .table tbody td {
        text-align: center;
        vertical-align: middle;
      }
      .search-container{
        padding-left: 50%;
      }
      .search-container input{
        border: 2px solid #ced4da;
        border-radius: 25px;
        padding: 5px 15px;
        padding-top: 10px;
        outline: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
  </style>
  <div class="page-header align-items-start min-vh-100" style="background-image: url('/static/assets/img/bg9.jpg');" loading="lazy">
    <span class="mask bg-gradient-dark opacity-2"></span>
    <div class="container my-auto">
      <div class="row">
        <div class="col-md-3 sidebar">
          <div>
            <button class="btn btn-primary" onclick="showSection('orderInfo')">Order Information</button>
          </div>
          <div>
            <button class="btn btn-primary" onclick="showSection('insertDestination')">Insert Destination</button>
          </div>
        </div>
        <div class="col-md-6 content">
          <div id="orderInfo" class="section" style="display: none; ">
            <div class="search-container">
              <input type="text" class="form-control" placeholder="Search...">
            </div>
            <br />
            <br />
            <div style="max-height: 500px; overflow-y: auto;">
              <table class="table table-striped table-hover table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th>Order ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Mount Package</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody id="table-body">
                  <tr>
                    <td>001</td>
                    <td>John Doe</td>
                    <td>john@gmail.com</td>
                    <td>087877092387</td>
                    <td>Salak Mount</td>
                    <td>
                      <button class="btn btn-info btn-sm">Detail</button>
                      <button class="btn btn-danger btn-sm">Delete</button>
                    </td>
                  </tr>
                  <tr>
                    <td>002</td>
                    <td>John Doe</td>
                    <td>john@gmail.com</td>
                    <td>087877092387</td>
                    <td>Salak Mount</td>
                    <td>
                      <button class="btn btn-info btn-sm">Detail</button>
                      <button class="btn btn-danger btn-sm">Delete</button>
                    </td>
                  </tr>
                  <tr>
                    <td>003</td>
                    <td>John Doe</td>
                    <td>john@gmail.com</td>
                    <td>087877092387</td>
                    <td>Salak Mount</td>
                    <td>
                      <button class="btn btn-info btn-sm">Detail</button>
                      <button class="btn btn-danger btn-sm">Delete</button>
                    </td>
                  </tr>
                  <tr>
                    <td>003</td>
                    <td>John Doe</td>
                    <td>john@gmail.com</td>
                    <td>087877092387</td>
                    <td>Salak Mount</td>
                    <td>
                      <button class="btn btn-info btn-sm">Detail</button>
                      <button class="btn btn-danger btn-sm">Delete</button>
                    </td>
                  </tr>
                  <tr>
                    <td>003</td>
                    <td>John Doe</td>
                    <td>john@gmail.com</td>
                    <td>087877092387</td>
                    <td>Salak Mount</td>
                    <td>
                      <button class="btn btn-info btn-sm">Detail</button>
                      <button class="btn btn-danger btn-sm">Delete</button>
                    </td>
                  </tr>
                  <tr>
                    <td>003</td>
                    <td>John Doe</td>
                    <td>john@gmail.com</td>
                    <td>087877092387</td>
                    <td>Salak Mount</td>
                    <td>
                      <button class="btn btn-info btn-sm">Detail</button>
                      <button class="btn btn-danger btn-sm">Delete</button>
                    </td>
                  </tr>
                  <tr>
                    <td>003</td>
                    <td>John Doe</td>
                    <td>john@gmail.com</td>
                    <td>087877092387</td>
                    <td>Salak Mount</td>
                    <td>
                      <button class="btn btn-info btn-sm">Detail</button>
                      <button class="btn btn-danger btn-sm">Delete</button>
                    </td>
                  </tr>
                  <tr>
                    <td>003</td>
                    <td>John Doe</td>
                    <td>john@gmail.com</td>
                    <td>087877092387</td>
                    <td>Salak Mount</td>
                    <td>
                      <button class="btn btn-info btn-sm">Detail</button>
                      <button class="btn btn-danger btn-sm">Delete</button>
                    </td>
                  </tr>
                  <tr>
                    <td>003</td>
                    <td>John Doe</td>
                    <td>john@gmail.com</td>
                    <td>087877092387</td>
                    <td>Salak Mount</td>
                    <td>
                      <button class="btn btn-info btn-sm">Detail</button>
                      <button class="btn btn-danger btn-sm">Delete</button>
                    </td>
                  </tr>
                  <tr>
                    <td>003</td>
                    <td>John Doe</td>
                    <td>john@gmail.com</td>
                    <td>087877092387</td>
                    <td>Salak Mount</td>
                    <td>
                      <button class="btn btn-info btn-sm">Detail</button>
                      <button class="btn btn-danger btn-sm">Delete</button>
                    </td>
                  </tr>
                  <tr>
                    <td>003</td>
                    <td>John Doe</td>
                    <td>john@gmail.com</td>
                    <td>087877092387</td>
                    <td>Salak Mount</td>
                    <td>
                      <button class="btn btn-info btn-sm">Detail</button>
                      <button class="btn btn-danger btn-sm">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div id="insertDestination" class="section" style="display: none;">
              <h3>ADD DESTINATION</h3>
              <form role="form-card" method="post" action="" class="text-start">
                <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">First name<span class="text-danger"> *</span></label> <input type="text" id="fname" name="fname" placeholder="Enter your first name" onblur="validate(1)"> </div>
                    <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Last name<span class="text-danger"> *</span></label> <input type="text" id="lname" name="lname" placeholder="Enter your last name" onblur="validate(2)"> </div>
                </div>
                <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Business email<span class="text-danger"> *</span></label> <input type="text" id="email" name="email" placeholder="" onblur="validate(3)"> </div>
                    <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Phone number<span class="text-danger"> *</span></label> <input type="text" id="mob" name="mob" placeholder="" onblur="validate(4)"> </div>
                </div>
                <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Job title<span class="text-danger"> *</span></label> <input type="text" id="job" name="job" placeholder="" onblur="validate(5)"> </div>
                </div>
                <div class="row justify-content-between text-left">
                    <div class="form-group col-12 flex-column d-flex"> <label class="form-control-label px-3">What would you be using Flinks for?<span class="text-danger"> *</span></label> <input type="text" id="ans" name="ans" placeholder="" onblur="validate(6)"> </div>
                </div>
                <div class="row justify-content-end">
                    <div class="form-group col-sm-6"> <button type="submit" class="btn-block btn-primary">Request a demo</button> </div>
                </div>
              </form>              
          </div>
      </div>
    </div>
  </div>
  <script>
    function showSection(sectionId) {
        const sections = document.querySelectorAll('.section');
        sections.forEach(section => {
            section.style.display = 'none';
        });
        document.getElementById(sectionId).style.display = 'block';
    }
    showSection('orderInfo');
    renderTable(currentPage);

</script>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
